body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.active {
    color: white !important;
}
.container .btn {
    margin-top: 25px;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: bold;
}

.container .btn:hover {
    background-color: black;
}

section.bg-primary {
    background-image: url('../images/barbarclub2.jpg');
    background-size: cover;
    background-position: center;
    margin-bottom: 25px;
    margin-top: 25px;
}

section.bg-primary h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

#produkty h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

#produkty .card:hover {
    transform: scale(1.05);
}

#produkty .card-title {
    font-size: 20px;
    font-weight: bold;
    color: lightblue;
}

#produkty .price {
    font-size: 20px;
    font-weight: bold;

}

#table thead:hover, tr:hover {
    background-color: lightblue;
    transform: scale(1.05);
}

#table tr {
    padding: 10px;
}
.form-group {
    margin-bottom: 20px;
}

.custom-contact-form {
    background-color: white;
    padding: 20px;
    border: 1px solid;
    border-radius: 5px;
    margin: 20px auto;
}

.custom-contact-form label {
    font-weight: bold;
    margin-bottom: 10px;
}

.custom-contact-form input {
    padding: 10px;
    border: 1px solid;
    border-radius: 4px;
    width: 100%;
}

.custom-contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
}

.custom-registration-form {
    background-color: white;
    padding: 20px;
    border: 1px solid;
    border-radius: 5px;
    margin: 20px auto;
}

.footer {
    background-color: black;
    color: white;
    margin-bottom: 0;
}
.upper {
    margin-top: 0;
    margin-bottom: 0;
}
.lower {
    margin-bottom: 0;
}